html {
  font-size: 14px;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", Calibri, sans-serif;
  background: linear-gradient(#82a3a5, #00050a);
  color: #3c3c3c;
}
div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Arial, sans-serif;
}
ul {
  padding-inline-start: 2rem;
}
p,
li {
  font-size: 1rem;
}

a {
  color: #f69432;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #f69432;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

/*HOME*/
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#82a3a5, #d9d3b9 40%);
}

.top {
  height: 60%;
  position: relative;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
  /*opacity: 0;
  transition: all 2s;*/
}

.landingtit {
  font-size: 3rem;
  color: #2c537a;
  position: absolute;
  bottom: 160px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 3s;
}

.bio {
  font-size: 1.3rem;
  color: #2c537a;
  position: absolute;
  bottom: 30px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 3s;
}

.layers {
  height: 40%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.layer {
  height: 100%;
  position: absolute;
  width: 100%;
}

.lay1 {
  background: url("img/lay5.png");
  background-repeat: repeat-x;
  top: 0;
  z-index: 2;
}

.lay2 {
  background: url("img/lay4.png");
  background-repeat: repeat-x;
  top: 15%;
  z-index: 4;
}

.lay3 {
  background: url("img/lay3.png");
  background-repeat: repeat-x;
  top: 30%;
  z-index: 6;
}

.lay4 {
  background: url("img/lay2.png");
  background-repeat: repeat-x;
  top: 45%;
  z-index: 8;
}

.lay5 {
  background: url("img/lay1.png");
  background-repeat: repeat-x;
  top: 60%;
  z-index: 10;
}

.scroller {
  width: 36px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: 99;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}

.mouse {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid;
  border-radius: 18px;
  position: relative;
  animation: mouseAnim 1s linear infinite alternate;
}

.ball {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background: #fafafa;
  animation: ballAnim 1s linear infinite;
}

@keyframes mouseAnim {
  0% {
    border-color: rgba(250, 250, 250, 1);
  }
  50% {
    border-color: rgba(250, 250, 250, 0.8);
  }
  100% {
    border-color: rgba(250, 250, 250, 0.5);
  }
}
@keyframes ballAnim {
  0% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: 0;
    top: 5px;
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    top: 30px;
  }
  100% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    top: 50px;
  }
}
/*HOME*/

/*main*/

.main {
  min-height: 100vh;
  background: linear-gradient(#2c537a, #00050a);
  color: #fafafa;
  padding: 2rem;
}

.maincont {
  margin: auto;
  max-width: 1200px;
}

.row {
  display: flex;
}

.column {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.column.pullcol {
  margin-bottom: 0;
}
.col100 {
  width: 100%;
}
.col75 {
  width: 75%;
}
.col66 {
  width: 66.66%;
}
.col60 {
  width: 60%;
}
.col50 {
  width: 50%;
}
.col40 {
  width: 40%;
}
.col33 {
  width: 33.33%;
}
.col25 {
  width: 25%;
}

.titmain {
  color: #d9d3b9;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.column > h4 {
  color: #82a3a5;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 24px;
}

.jobinfo {
  color: #fafafa;
  font-size: 0.8em;
  font-weight: normal;
}

.column p,
.column li {
  margin: 0.5em 0;
}
.mainlinkcont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.imgmain {
  width: 50px;
}
/*main*/

/*contact*/

.fvg {
  display: none;
}

.fvg.vis {
  display: block;
}

input.txtinput {
  display: block;
  margin: 20px 0;
  padding: 0 0 0.15rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #fafafa;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0;
}

textarea.txtinput {
  display: block;
  margin: 20px 0;
  padding: 0.5rem;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: #fafafa;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  border-radius: 0;
}

input:focus,
textarea:focus {
  outline: 0 !important;
}

.formlbl {
  display: inline-block;
  font-weight: 700;
  pointer-events: none;
}

.flatbtnform {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 30px;
  padding: 12px 24px;
  border: 2px solid #fafafa;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
  background: transparent;
  color: #d9d3b9;
}

#sub {
  color: #d9d3b9;
  font-family: Montserrat;
  cursor: pointer;
}
.flatbtnform:hover,
.flatbtnform:focus,
#sub:hover,
#sub:focus {
  background-color: #fafafa;
  color: #2c537a;
  text-decoration: none;
}

.flatbtnform.small {
  padding: 8px 50px;
  margin: 10px;
  font-size: 1rem;
}

.progform {
  display: block;
  text-align: left;
}

.progbar {
  border-bottom: 10px solid #fafafa;
  border-radius: 5px;
  display: inline-block;
}

.progform span {
  margin-left: 5px;
}

.error {
  color: red;
}
/*contact*/

/*footer*/
.footer:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.1),
    #d9d3d9,
    rgba(220, 220, 220, 0.1)
  );
  height: 1px;
  display: block;
}
.footercont {
  padding-top: 20px;
}
.footercopy {
  opacity: 0.7;
  font-size: 0.7rem;
}
/*footer*/

/*responsive*/

@media screen and (max-width: 1399px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    top: 120px;
  }
  .scroller {
    bottom: 75px;
  }
}

@media screen and (max-width: 767px) {
  .contactbtn {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .logo {
    top: 15px;
    width: 70px;
  }
  .landingtit {
    bottom: 120px;
    width: 80%;
  }
  .bio {
    bottom: 10px;
    width: 80%;
  }

  .titmain {
    font-size: 2rem;
  }
  .column > h4 {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .column > p {
    font-size: 0.8rem;
  }
  .row {
    display: block;
  }
  .column[class*="col"] {
    width: 100%;
  }
  .formview {
    padding: 20px;
  }
  .contacttit {
    margin-bottom: 10px;
  }
  input[type="text"],
  textarea {
    /*prevent zoom mobile contacts*/
    font-size: 16px;
  }
  input.txtinput {
    margin: 20px 0;
  }
  textarea.txtinput {
    margin: 5px 0;
  }
  .flatbtnform,
  #sub {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 575px) {
  .mainlinkcont {
    width: 100%;
  }
}

@media screen and (max-width: 991px) and (max-height: 575px) {
  .logo {
    top: 2rem;
    left: 5rem;
    width: 5rem;
  }
}

/*responsive*/

.hdisclaimer {
  position: fixed;
  padding: 20px;
  display: none;
  background: linear-gradient(144deg, #011121, #2c537a, #82a3a5);
  background-size: 600% 600%;
  -webkit-animation: bgDisc 12s ease infinite;
  -moz-animation: bgDisc 12s ease infinite;
  animation: bgDisc 12s ease infinite;
  color: #fafafa;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes bgDisc {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}
@-moz-keyframes bgDisc {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}
@keyframes bgDisc {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}
