html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', Calibri, sans-serif;
    background: #fafafa;
    color: #3c3c3c;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Arial, sans-serif;
}

p, li {
    font-size: 1em;
}

a {
    color: #F69432;
    cursor: pointer;
}

a:hover, a:focus {
    color: #F69432;
}

hr {
    border: 0;
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    height: 1px;
}

hr.tall {
    margin: 40px 0;
}

.center {
    text-align: center
}

.right {
    float: right;
}

.inbl {
    display: inline-block;
}

.push-top {
    margin-top: 50px;
}

.pd-top {
    padding-top: 50px
}

.push-bot {
    margin-bottom: 50px;
}

.pd-bot {
    padding-bottom: 50px
}

.nopadding {
    padding: 0!important;
}

.errore {
    font-weight: bold;
    color: red;
}

.btn {
    padding: 10px 30px;
    color: #fdfdfd;
    background: #F69432;
    font-size: 1em;
    border-radius: 0;
    border: 0;
    transition: all .2s;
}

.btn:hover, .btn:focus {
    color: #fdfdfd;
    text-decoration: none;
    outline: 0!important;
}

.btn:hover {
    background: #ffa54c;
}

.btn:focus {
    background: #F69432;
    box-shadow: inset 0px 0px 10px #984600;
    -webkit-box-shadow: inset 0px 0px 10px #984600;
    -moz-box-shadow: inset 0px 0px 10px #984600;
    -o-box-shadow: inset 0px 0px 10px #984600;
}

.btn.lg {
    font-size: 2em;
}

.view {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


/*HOME*/

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#82A3A5, #D9D3B9 40%);
    z-index: 2;
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 1.7s ease-in-out, opacity 1s;
}

.home.active {
    transform: translate3d(0px, 0%, 0px);
    opacity: 1;
}

.top {
    height: 60%;
    position: relative;
}

/*.name {
    font-size: 6em;
    color: #fafafa;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2s;
    text-shadow: 0px 3px 3px #010101;
}*/

.logo{
  position: absolute;
  top: 50px;
  left: 50%;
  width:100px;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 2s;
}

.landingtit{
  font-size:3em;
  color: #2C537A;
  position: absolute;
  bottom: 160px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 3s;
}

.bio {
    font-size: 1.3em;
    color: #2C537A;
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 3s;
}

.layers {
    height: 40%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.layer {
    height: 100%;
    position: absolute;
    width: 100%;
}

.lay1 {
    background: url('http://s30.postimg.org/x24a21701/lay5.png');
    background-repeat: repeat-x;
    top: 0;
    z-index: 2;
}

.lay2 {
    background: url('http://s30.postimg.org/t0ilimpbl/lay4.png');
    background-repeat: repeat-x;
    top: 15%;
    z-index: 4;
}

.lay3 {
    background: url('http://s30.postimg.org/bd5dy64s1/lay3.png');
    background-repeat: repeat-x;
    top: 30%;
    z-index: 6;
}

.lay4 {
    background: url('http://s30.postimg.org/qx86aypip/lay2.png');
    background-repeat: repeat-x;
    top: 45%;
    z-index: 8;
}

.lay5 {
    background: url('http://s30.postimg.org/i4vt10trl/lay1.png');
    background-repeat: repeat-x;
    top: 60%;
    z-index: 10;
}

.scroller {
    width: 46px;
    height: 85px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 99;
    transform: translateX(-50%);
    cursor: pointer;
    opacity:0;
    transition: all .5s;
}

.mouse {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 2px solid;
    border-radius: 23px;
    position: relative;
    animation: mouseAnim 1s linear infinite alternate;
}

.ball {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background: white;
    animation: ballAnim 1s linear infinite;
}

@keyframes ballAnim {
    0% {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        opacity: 0;
        top: 5px;
    }
    50% {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        opacity: 1;
        top: 50px;
    }
    100% {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        opacity: 0;
        top: 75px;
    }
}

@keyframes mouseAnim {
    0% {
        border-color: rgba(250, 250, 250, 1);
    }
    50% {
        border-color: rgba(250, 250, 250, .8);
    }
    100% {
        border-color: rgba(250, 250, 250, .5);
    }
}


/*HOME*/


/*MAIN*/

.main {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2C537A, #011121 90%);
    padding: 50px;
}

.maincont {
    position: relative;
    width: 100%;
    height: 100%;
}

.frame {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #ccc, #333, #ccc);
    /* Standard syntax */
    position: absolute;
}

.framelat {
    width: 1px;
    height: 100%;
    background: linear-gradient(#ccc, #333, #ccc);
    /* Standard syntax */
    position: absolute;
}

.frame.b {
    bottom: 0;
}

.frame.t {
    width: 93%;
}

.framelat.r {
    right: 0;
    height: 85%;
    bottom: 0;
}

.counter {
    font-size: 1.2em;
    color: #fafafa;
    position: absolute;
    left: -20px;
    top: 45%;
}

.prjcts {
    transform: rotate(270deg) translateY(-37px) translateX(40px);
    display: inline-block;
}

#count {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #fafafa;
}

.tit {
    font-size: 3em;
    height: 2em;
    color: #fafafa;
    text-shadow: 0px 3px 3px #010101;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 50%;
    width: 70%;
    overflow: hidden;
    transform: translateX(-50%)
}

.tithelper {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
}

.tithelper>h2 {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -1000px);
    transition: transform 1.7s ease-in-out;
}

.tithelper>h2.active {
    transform: translate(-50%, 0px);
}

.txt {
    font-size: 1.5em;
    color: #fafafa;
    text-shadow: 0px 1px 1px #010101;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50px;
    overflow: hidden;
    width: 40%;
}

.txthelper {
    position: relative;
    height: 100%;
    width: 100%;
}

.txthelper>p {
    position: absolute;
    top: 0;
    transform: translate(-1000px, 0px);
    transition: transform 1.7s ease-in-out;
}

.txthelper>p.active {
    transform: translate(0px, 0px);
}

.specs {
    position: absolute;
    bottom: 0;
    font-size: .8em;
}

.specs p {
    height: 0;
    transform: translate(-1000px, 0px);
    transition: transform 1.7s ease-in-out;
}

.specs p.active {
    height: auto;
    transform: translate(0px, 0px);
}

.specs span {
    color: #2C537A;
    padding: 3px 10px;
    background: #fafafa;
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0px 3px 3px #010101;
}

.picslot {
    position: absolute;
    top: 20%;
    bottom: 20%;
    right: 50px;
    width: 40%;
    overflow: hidden;
}

.pichelper {
    position: relative;
    margin-left: 5px;
    width: 99%;
    height: 99%;
}

.pic {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
		background-position-x:center;
    box-shadow: 0px 3px 5px #010101;
    transform: translate(1000px, 0px);
    transition: transform 1.7s ease-in-out;
}

.pic.active {
    transform: translate(0px, 0px);
}

.link {
    font-size: 2em;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.link a {
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    background: #fafafa;
    border: 3px solid #fafafa;
    border-bottom: 5px solid #fafafa;
    box-shadow: 0px 3px 3px #333;
    text-decoration: none;
    position: absolute;
    width: 300px;
    display: inline-block;
    bottom: 0px;
    transform: translate(0px, 300%);
    transition: transform 1.7s ease-in-out;
}

.link a.active {
    position: relative;
    transform: translate(0px, 0%);
}

.link a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 110%;
    height: 100%;
    width: 120%;
    transform: skewX( -15deg);
    transition: all .7s;
    ;
}

.link a:hover:after, .link a:focus:after {
    right: -10%;
}


/* .link a:hover{ */


/* box-shadow: 0px 5px 5px #333; */


/* bottom:3px; */


/* } */


/* .link a:focus{ */


/* box-shadow: 0px 3px 3px #333; */


/* bottom:0px; */


/* } */

.link span {
    position: relative;
    z-index: 1;
}

.link a:hover span, .link a:focus span {
    color: #fafafa;
}


/*MAIN*/


/*blocchi colore*/

#link1 {
    border-color: #E33625;
    color: #E33625;
}

#link1:after {
    background: #E33625;
}

#link2 {
    border-color: #00B5BC;
    color: #00B5BC;
}

#link2:after {
    background: #00B5BC;
}

#link3 {
    border-color: #E2658F;
    color: #E2658F;
}

#link3:after {
    background: #E2658F;
}


/*blocchi colore*/


/*FOOT*/

.foot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(#011121, #00050a 40%);
    z-index: 1;
    opacity: 0;
    color: #fafafa;
    transform: translate3d(0px, 100%, 0px);
    transition: transform 1.7s ease-in-out, opacity 1s;
}

.foot.active {
    transform: translate3d(0px, 0%, 0px);
    opacity: 1;
}

.column {
    position: absolute;
    top: 10%;
}

.colone {
    width: 35%;
    left: 70px;
}

.coltwo {
    width: 35%;
    right: 70px;
}

.titfoot {
    color: #D9D3B9;
    font-size: 3em;
}

.column>h4 {
    color: #82A3A5;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.column>h4>span {
    color: #fafafa;
    font-size: .7em;
    font-weight: normal;
}

.column>p {
    margin: 0;
}


/*.bottom{

	position:absolute;

	bottom:10%;

	left:50%;

	transform: translateX(-50%);

}

.contactme{

	background: #fafafa;

    color: #2C537A;

    padding: 10px 20px;

    border-radius: 5px;

    border: 3px solid #2C537A;

    font-size: 2em;

    text-transform: uppercase;

}*/


/*FOOT*/


/*contact*/

.contacts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    overflow: hidden;
    background: linear-gradient(#82A3A5, #D9D3B9 40%);
    z-index: 98;
    transition: all 1s;
}

.contacts.active {
    width: 100%;
}

.contactbtn {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #fafafa;
    color: #fafafa;
    background: rgba(100, 100, 100, .25);
    transition: all .5s;
    z-index: 99;
}

.contactbtn:hover {
    background: rgba(217, 211, 185, .85);
}

.tgcontact {
    position: relative;
    padding: 20px;
}

.piccontact, .tgclose {
    max-width: 100%;
    display: none;
}

.piccontact:first-child {
    display: block;
}

.contacttit {
    top: 50px;
    display: inline-block;
    color: #fafafa;
    font-size: 4em;
		text-shadow: 0px 3px 3px #010101;
}

.formview {
    position: relative;
    text-align: center;
    padding: 50px;
}

.formview>* {
    opacity: 0;
    transition: opacity .3s;
}

.formview .fvg {
    display: none;
}

.formview .fvg.vis {
    display: block;
}

input.txtinput {
    display: block;
    margin: 30px 0;
    padding: 0 0 0.15em;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: #fafafa;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 2.5em;
    border-radius: 0;
    text-align: center;
}

textarea.txtinput {
    display: block;
    margin: 30px 0;
    padding: 0 0 0.15em;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: #fafafa;
    text-overflow: ellipsis;
    font-size: 1.2em;
    border-radius: 0;
    text-align: center;
}

input:focus, textarea:focus {
    outline: 0!important;
}

.formlbl {
    display: inline-block;
    font-weight: 700;
    pointer-events: none;
}

.flatbtnform {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 30px;
    padding: 15px 30px;
    border: 2px solid white;
    -webkit-transition: all .2s;
    /* Safari */
    transition: all .2s;
    background: transparent;
    color: #2C537A;
}

.flatbtnform:hover, .flatbtnform:focus {
    background-color: white;
    color: #2C537A;
    text-decoration: none;
}

#sub {
    padding: 15px 40px;
    color: #2C537A;
    cursor: pointer;
}

.flatbtnform.small {
    padding: 8px 50px;
    margin: 10px;
    font-size: 1em;
}

.progform {
    display: block;
    text-align: left;
}

.progbar {
    border-bottom: 10px solid #fafafa;
    border-radius: 5px;
    display: inline-block;
}

.progform span {
    margin-left: 5px;
}

.error {
    color: red;
}

.socialfoot {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 40px;
}

.socialfoot .colfoot {
    width: 32%;
    text-align: center;
    display: inline-block;
}

.footlink {
    display: inline-block;
}


/*contact*/


/*responsive*/

@media screen and (max-width:1399px) {
    body {
        font-size: 12px;
    }
    .main {
        padding: 30px;
    }
    .contactbtn {
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
    }
    .tgcontact {
        padding: 12px;
    }
    .prjcts {
        transform: rotate(270deg) translateY(-26px) translateX(40px);
    }
    .framelat.r {
        height: 88%;
    }
}

@media screen and (max-width:1199px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:1024px) {
    .frame.t {
        width: 90%;
    }
    .framelat.r {
        height: 91%;
    }
}

@media screen and (max-width:992px) {
    .logo{
      top:120px;
    }
}
/*responsive*/


/*mobile*/
.mobile{
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: linear-gradient(#011121, #00050a 40%);
	z-index: 99;
	color: #fafafa;
}
@media screen and (max-width:767px) {
	.mobile{display:block;}
	.view>*:not(.mobile){
		display:none;
	}
}

.mobtit {
    top: 10px;
    display: inline-block;
    color: #fafafa;
    font-size: 4em;
}

.topmobview {
    position: relative;
    text-align: center;
    padding: 10px;
}

.topmobview h4 {
    color: #82A3A5;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
		margin-top:0;
}
/*mobile*/
